# Flutter/Dart/Pub related
**/doc/api/

# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.idea/
.gradle/
.settings/
*.iml
*.ipr
*.iws
.vscode/

build/app/outputs/apk/debug/app-debug.apk
build/ios/Debug-iphonesimulator/gRPC-Core/grpc.framework/grpc
ß