# Flutter/Dart/Pub related
**/doc/api/

# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.idea/
.gradle/
.settings/
*.iml
*.ipr
*.iws
.vscode/
